{% extends "retail/layout.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'retail/css/index.css' %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static 'retail/js/index.js' %}"></script>
{% endblock %}

{% block body %}

<div class="d-flex flex-row align-items-center mb-5">
    <ul class="mb-0 category-list" style="font-weight: 500;">
        <li>Women's Fashion</li>
        <li>Men's Fashion</li>
        <li>Electronics</li>
        <li>Home & Lifestyle</li>
        <li>Medicine</li>
        <li>Sports & Outdoor</li>
        <li>Baby Toys</li>
        <li>Groceries & Pets</li>
        <li>Health & Beauty</li>
    </ul>
    <div class="featured-product-image">
        <img src="{% static 'retail/images/iphone.jpg' %}" alt="Iphone">
    </div>
</div>

<hr>

<div class="d-flex flex-column mt-5 ">
    <div class="section-label d-flex flex-row justify-content-start align-items-center">
        <div class=""></div>
        <span>Categories</span>
    </div>
    <div class="section-title-bar d-flex flex-row justify-content-between align-items-center">
        <span class="section-title-bar__title">Browse By Category</span>
        <div class="">
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <div class="container category-section">
        <div class="row">
            <div class="col category-section__product">
                <div class="category-section__product-image">
                    <img src="{% static 'retail/images/phone.svg' %}" alt="Phone">
                </div>
                <div>
                    <span>Phone</span>
                </div>
            </div>
            <div class="col category-section__product">
                <div class="category-section__product-image">
                    <img src="{% static 'retail/images/phone.svg' %}" alt="Phone">
                </div>
                <div>
                    <span>Computer</span>
                </div>
            </div>
            <div class="col category-section__product">
                <div class="category-section__product-image">
                    <img src="{% static 'retail/images/smartwatch.svg' %}" alt="Phone">
                </div>
                <div>
                    <span>Smartwatch</span>
                </div>
            </div>
            <div class="col category-section__product">
                <div class="category-section__product-image">
                    <img src="{% static 'retail/images/headphone.svg' %}" alt="Phone">
                </div>
                <div>
                    <span>Headphone</span>
                </div>
            </div>
            <div class="col category-section__product">
                <div class="category-section__product-image">
                    <img src="{% static 'retail/images/gaming.svg' %}" alt="Phone">
                </div>
                <div>
                    <span>Gaming</span>
                </div>
            </div>
            <div class="col category-section__product">
                <div class="category-section__product-image">
                    <img src="{% static 'retail/images/camera.svg' %}" alt="Phone">
                </div>
                <div>
                    <span>Camera</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}