{% extends "retail/layout.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'retail/css/index.css' %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static 'retail/js/index.js' %}"></script>
{% endblock %}

{% block body %}

<div class="d-flex flex-row align-items-center mb-5">
    <ul class="mb-0 category-list" style="font-weight: 500;">
        {% for category in categories %}
        <li>{{ category }}</li>
        {% endfor %}
    </ul>
    <div class="featured-product-image">
        <img src="{% static 'retail/images/iphone.jpg' %}" alt="Iphone">
    </div>
</div>

<hr>

<div class="d-flex flex-column mt-5 ">
    <div class="section-label d-flex flex-row justify-content-start align-items-center">
        <div class=""></div>
        <span>Categories</span>
    </div>
    <div class="section-title-bar d-flex flex-row justify-content-between align-items-center">
        <span class="section-title-bar__title">Browse By Category</span>
        <div class="">
            <i class="fa-solid fa-arrow-left"></i>
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
    <div class="container category-section px-4">
        <div class="row g-5">
            <div class="col-lg-2 col-md-3">
                <div class="category-section__product">
                    <div class="category-section__product-image">
                        <img src="{% static 'retail/images/categories/phone.svg' %}" alt="Phone">
                    </div>
                    <div>
                        <span>Phone</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="category-section__product">
                    <div class="category-section__product-image">
                        <img src="{% static 'retail/images/categories/computer.svg' %}" alt="Computer">
                    </div>
                    <div>
                        <span>Computer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="category-section__product">
                    <div class="category-section__product-image">
                        <img src="{% static 'retail/images/categories/smartwatch.svg' %}" alt="Smartwatch">
                    </div>
                    <div>
                        <span>Smartwatch</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="category-section__product">
                    <div class="category-section__product-image">
                        <img src="{% static 'retail/images/categories/headphone.svg' %}" alt="Headphone">
                    </div>
                    <div>
                        <span>Headphone</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="category-section__product">
                    <div class="category-section__product-image">
                        <img src="{% static 'retail/images/categories/gaming.svg' %}" alt="Gaming">
                    </div>
                    <div>
                        <span>Gaming</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="category-section__product">
                    <div class="category-section__product-image">
                        <img src="{% static 'retail/images/categories/camera.svg' %}" alt="Camera">
                    </div>
                    <div>
                        <span>Camera</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-column mt-5">
        <div class="section-label d-flex flex-row justify-content-start align-items-center">
            <div class=""></div>
            <span>This Month</span>
        </div>
        <div class="section-title-bar d-flex flex-row justify-content-between align-items-center">
            <span class="section-title-bar__title">Best Selling Products</span>
            <button class="section-title-bar__button">View All</button>
        </div>
        <div class="container product-section">
            <div class="row">
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/the-north-coat.webp' %}" alt="The North Coat">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">The North Coat</div>
                        <div class="product-section__product-price">
                            $260
                            <span class="product-section__product-price strikethrough">$260</span>
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(65)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/gucci-duffle-bag.jpg' %}" alt="Gucci Duffle Bag">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">Gucci Duffle Bag</div>
                        <div class="product-section__product-price">
                            $960
                            <span class="product-section__product-price strikethrough">$1160</span>
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(65)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/rgb-liquid-cooler.jpg' %}" alt="RGB Liquid Cooler">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">RGB Liquid Cooler</div>
                        <div class="product-section__product-price">
                            $160
                            <span class="product-section__product-price strikethrough">$170</span>
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(65)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/small-bookshelf.webp' %}" alt="Small Bookshelf">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">Small Bookshelf</div>
                        <div class="product-section__product-price">
                            $360
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(65)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'retail/images/jbl-headphone-ad.png' %}" alt="Advertisement">
    <div class="d-flex flex-column mt-5">
        <div class="section-label d-flex flex-row justify-content-start align-items-center">
            <div class=""></div> <!-- Left blank intentionally -->
            <span>Our Products</span>
        </div>
        <div class="section-title-bar d-flex flex-row justify-content-between align-items-center">
            <span class="section-title-bar__title">Explore Our Products</span>
            <div class="">
                <i class="fa-solid fa-arrow-left"></i>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </div>
        <div class="container product-section">
            <div class="row">
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/breed-dry-dog-food.png' %}" alt="Breed Dry Dog Food">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">Breed Dry Dog Food</div>
                        <div class="product-section__product-price">
                            $100
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(35)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/canon-camera.webp' %}" alt="Canon EOS DSLR Camera">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">Canon EOS DSLR Camera</div>
                        <div class="product-section__product-price">
                            $360
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(95)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/asus-gaming-laptop.png' %}" alt="Asus FHD Gaming Laptop">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">Asus FHD Gaming Laptop</div>
                        <div class="product-section__product-price">
                            $700
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(325)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/curology-product-set.jpg' %}" alt="Curology Product Set">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">Curology Product Set</div>
                        <div class="product-section__product-price">
                            $500
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(145)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/kid-electric-car.jpg' %}" alt="Kid Electric Car">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">Kid Electric Car</div>
                        <div class="product-section__product-price">
                            $960
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span class="product-section__product-rating-count">(65)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/soccer-cleats.jpg' %}" alt="JR's Zoom Soccer Cleats">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">JR's Zoom Soccer Cleats</div>
                        <div class="product-section__product-price">
                            $1160
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span class="product-section__product-rating-count">(35)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/game-pad.webp' %}" alt="GP11 Shooter USB Gamepad">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">GP11 Shooter USB Gamepad</div>
                        <div class="product-section__product-price">
                            $660
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(55)</span>
                        </div>
                    </div>
                </div>
                <div class="col product-section__product d-flex flex-column">
                    <div class="product-section__product-thumbnail">
                        <img src="{% static 'retail/images/satin-jacket.webp' %}" alt="Quilted Satin Jacket">
                        <div class="product-section__product-heart">
                            <i class="fa-regular fa-heart"></i>
                            <!-- <i class="fa-solid fa-heart"></i> -->
                        </div>
                    </div>
                    <div class="product-section__product-description d-flex flex-column">
                        <div class="product-section__product-title">Quilted Satin Jacket</div>
                        <div class="product-section__product-price">
                            $660
                        </div>
                        <div class="product-section__product-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star no-rating"></i>
                            <span class="product-section__product-rating-count">(55)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column mt-5 mb-5">
        <div class="section-label d-flex flex-row justify-content-start align-items-center">
            <div class=""></div> <!-- Left blank intentionally -->
            <span>Featured</span>
        </div>
        <div class="section-title-bar d-flex flex-row justify-content-between align-items-center">
            <span class="section-title-bar__title">New Arrival</span>
        </div>
        <img src="{% static 'retail/images/new-arrival.png' %}" alt="New Arrival">
    </div>
    <div class="d-flex justify-content-center align-items-center mb-5 mt-5 pb-5"><img class="w-75" src="{% static 'retail/images/motto.png' %}" alt=""></div>
</div>

{% endblock %}