{% extends "retail/layout.html" %}

{% load static %}

{% block title %}
Product-Details
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'retail/css/product-details.css' %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static 'retail/js/product-details.js' %}"></script>
{% endblock %}

{% block body %}
<div class="mt-4 d-flex gap-5 product_container">
    <div class="product-images d-flex h-100 gap-3">
        <div class="d-flex flex-column gap-1 overflow-auto">
            {% for i in "12345" %}
            <img src="{{ product.get_image }}" role='button' class='object-fit-contain product-image_item' onclick="changeImage(this)" />
            {% endfor %}
        </div>
        <div class='h-100'>
            <img style="max-width: 600px;" src="{{ product.get_image }}" role='button' class='object-fit-contain primary-image' id='primary-image' />
        </div>
    </div>
    <div class='modal'>
        <img class="modal-image" id="modal-img">
        <span class="close-btn"><i class="fa-solid fa-xmark"></i></span>
    </div>
    <div class="product-description position-relative">
        <h4>{{ product.name }}</h4>
        <h5 style='font-weight: 400;'>{{ product.get_price }}</h5>
        <p class="product_description">
            {{ product.description }}
        </p>
        <div class='d-flex flex-column gap-4'>
            <div class='d-flex justify-content-between align-items-center'>
                <div class='quantity-input_container'>
                    <button class='decrement_button' onclick="decrement()"><i class="fa-solid fa-minus"></i></button>
                    <input type="number" name="quantity" id="quantity_input" value="1" min="1" />
                    <button class='increment_button' onclick="increment()"><i class="fa-solid fa-plus"></i></button>
                </div>
                <form method="POST" action="{% url 'toggle-wishlist' product.id %}">
                    {% csrf_token %}
                    {% if is_in_wishlist %}
                    <button style='color: #db4444' class='wishlist_button' role='button'><i class="fa-solid fa-heart wishlist_icon"></i></button>
                    {% else%}
                    <button class='wishlist_button' role='button'><i class="fa-regular fa-heart wishlist_icon"></i></button>
                    {% endif %}
                </form>
            </div>

            <!-- Updated "Add to Cart" button with form -->
            <form method="POST" action="{% url 'add-to-cart' product.id %}">
                {% csrf_token %}
                <div class='d-flex justify-content-between align-items-center'>
                    <button class="cart-btn" type="submit">
                        <i class="fa-solid fa-cart-shopping me-3"></i><span class='d-inline-block'>Add To Cart</span>
                    </button>
                    <a href="{% url 'checkout' %}" class='buy_button' role='button'>Buy Now</a>
                </div>
            </form>
        </div>
        <div class='services_infor'>
            <div class='d-flex align-items-center gap-4 ps-3' style='border-bottom: 1px solid rgba(0, 0, 0, 0.5); height: 80px'>
                <div style='width:30px'>
                    <i class="fa-solid fa-truck" style='font-size:30px'></i>
                </div>
                <div>
                    <h5>Free Delivery</h5>
                    <span style='text-decoration: underline;'>Enter your postal code for Delivery Availability</span>
                </div>
            </div>
            <div class='d-flex align-items-center gap-4 ps-3' style='height: 80px;'>
                <div style='width: 30px;'>
                    <i class="fa-solid fa-arrow-rotate-left" style='font-size:30px'></i>
                </div>
                <div>
                    <h5>Return Delivery</h5>
                    <span>Free 30 Days Delivery Returns. <a style='text-decoration:underline;' role='button'>Details</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div style='margin-bottom: 40px;' class='mt-5'>
    <h5 class='related-item_list' style='color: red'>Related items</h5>
</div>
<div class='row g-5'>
    {% for related_product in related_products %}
    <a href="{% url 'product-details' related_product.id %}" class="col-xl-3 col-md-6 product-section__product d-flex flex-column"> 
        <div class="product-section__product-thumbnail">
            <img src="{{ related_product.get_image }}" alt="{{ related_product.name }}">
        </div>
        <div class="product-section__product-description d-flex flex-column">
            <div class="product-section__product-title">{{ product.name }}</div>
            <div class="product-section__product-price">
                ${{ related_product.get_price }}
                {% if product.discounted_price %}
                <span class="product-section__product-price strikethrough">
                    ${{ related_product.price }}
                </span>
                {% endif %}
            </div>
            <div class="product-section__product-rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star no-rating"></i>
                <span class="product-section__product-rating-count">(65)</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}