{% extends "retail/layout.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'retail/css/index.css' %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static 'retail/js/index.js' %}"></script>
{% endblock %}

{% block body %}
<div class="d-flex flex-column mt-5 ">
    <div class="d-flex flex-column" id="our-products">
        <div class="section-title-bar d-flex flex-row justify-content-between align-items-center">
            <span class="section-title-bar__title">Explore Our Products</span>
            <div class="">
                <i class="fa-solid fa-arrow-left" id="section-title-bar__products-prev-button"></i>
                <i class="fa-solid fa-arrow-right" id="section-title-bar__products-next-button"></i>
            </div>
        </div>
        <div class="container product-section">
            <div class="row g-5">
                {% for product in products %}
                <a href="{% url 'product-details' product.id %}" class="col-xl-3 col-md-6 product-section__item">
                    <div class="product-section__product d-flex flex-column">
                        <div class="product-section__product-thumbnail">
                            <img src="{{ product.get_image }}" alt="{{ product.name }}">
                            <div class="product-section__product-heart">
                                <i class="fa-regular fa-heart"></i>
                                <!-- <i class="fa-solid fa-heart"></i> -->
                            </div>
                        </div>
                        <div class="product-section__product-description d-flex flex-column">
                            <div class="product-section__product-title">{{ product.name }}</div>
                            <div class="product-section__product-price">
                                ${{ product.get_price }}
                            </div>
                            <div class="product-section__product-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star no-rating"></i>
                                <i class="fa-solid fa-star no-rating"></i>
                                <span class="product-section__product-rating-count">(35)</span>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}