{% extends "retail/layout.html" %}

{% load static %}

{% block title %}
Wish List
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'retail/css/wishlist.css' %}" />
{% endblock %}

{% block extra_js %}
<script src="{% static 'retail/js/wishlist.js' %}"></script>
{% endblock %}

{% block body %}
<div class='mt-5 '>
    <div class="d-flex justify-content-between">
    <h4 class='align-self-center m-0'>Wishlist</h4>
    <button class="move-all-btn">Move All To Bag</button>
    </div>
    <div>
        <div class="row mt-5">
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/the-north-coat.webp' %}" alt="The North Coat">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-trash-can"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">The North Coat</div>
                    <div class="product-section__product-price">
                        $260
                        <span class="product-section__product-price strikethrough">$260</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/gucci-duffle-bag.jpg' %}" alt="Gucci Duffle Bag">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-trash-can"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">Gucci Duffle Bag</div>
                    <div class="product-section__product-price">
                        $960
                        <span class="product-section__product-price strikethrough">$1160</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/rgb-liquid-cooler.jpg' %}" alt="RGB Liquid Cooler">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-trash-can"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">RGB Liquid Cooler</div>
                    <div class="product-section__product-price">
                        $160
                        <span class="product-section__product-price strikethrough">$170</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/small-bookshelf.webp' %}" alt="Small Bookshelf">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-trash-can"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">Small Bookshelf</div>
                    <div class="product-section__product-price">
                        $360
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/the-north-coat.webp' %}" alt="The North Coat">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-trash-can"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">The North Coat</div>
                    <div class="product-section__product-price">
                        $260
                        <span class="product-section__product-price strikethrough">$260</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/gucci-duffle-bag.jpg' %}" alt="Gucci Duffle Bag">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-trash-can"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">Gucci Duffle Bag</div>
                    <div class="product-section__product-price">
                        $960
                        <span class="product-section__product-price strikethrough">$1160</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/rgb-liquid-cooler.jpg' %}" alt="RGB Liquid Cooler">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-trash-can"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">RGB Liquid Cooler</div>
                    <div class="product-section__product-price">
                        $160
                        <span class="product-section__product-price strikethrough">$170</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/small-bookshelf.webp' %}" alt="Small Bookshelf">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-trash-can"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">Small Bookshelf</div>
                    <div class="product-section__product-price">
                        $360
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="just-for-u-section mt-5">
        <div class="d-flex justify-content-between">
        <h4 class="just-for-u-title">Just For You</h4>
        <button class="see-all-btn">See All</button>
        </div>
        <div class="row mt-5">
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/the-north-coat.webp' %}" alt="The North Coat">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-eye"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">The North Coat</div>
                    <div class="product-section__product-price">
                        $260
                        <span class="product-section__product-price strikethrough">$260</span>
                    </div>
                    <div class="product-section__product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star no-rating"></i>
                        <span class="product-section__product-rating-count">(65)</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/gucci-duffle-bag.jpg' %}" alt="Gucci Duffle Bag">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-eye"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">Gucci Duffle Bag</div>
                    <div class="product-section__product-price">
                        $960
                        <span class="product-section__product-price strikethrough">$1160</span>
                    </div>
                    <div class="product-section__product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star no-rating"></i>
                        <span class="product-section__product-rating-count">(65)</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/rgb-liquid-cooler.jpg' %}" alt="RGB Liquid Cooler">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-eye"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">RGB Liquid Cooler</div>
                    <div class="product-section__product-price">
                        $160
                        <span class="product-section__product-price strikethrough">$170</span>
                    </div>
                    <div class="product-section__product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star no-rating"></i>
                        <span class="product-section__product-rating-count">(65)</span>
                    </div>
                </div>
            </div>
            <div class="col product-section__product d-flex flex-column">
                <div class="product-section__product-thumbnail">
                    <img src="{% static 'retail/images/small-bookshelf.webp' %}" alt="Small Bookshelf">
                    <div class="product-section__product-icon">
                        <i class="fa-regular fa-eye"></i>
                        <!-- <i class="fa-solid fa-trash-can"></i> -->
                    </div>
                </div>
                <div class="product-section__product-description d-flex flex-column">
                    <div class="product-section__product-title">Small Bookshelf</div>
                    <div class="product-section__product-price">
                        $360
                    </div>
                    <div class="product-section__product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star no-rating"></i>
                        <span class="product-section__product-rating-count">(65)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}